@use "./partials/variables";
@use "./partials/mixins";

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: variables.$color-primary;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 6rem;
  font-weight: 300;
}

h3 {
  font-size: 3.3rem;
  font-weight: 300;
}

nav {
  ul {
    list-style: none;
    font-weight: 400;
  }

  h2 {
    font-size: 3.3rem;
    font-weight: 300;
  }

  a {
    color: variables.$color-primary;
  }
}

/*-----main nav bar------ */

.main-nav {
  @include mixins.flexed(row, space-between, center);
  @include mixins.container();
  &--background {
    background-color: variables.$color-nitro-pink;

    padding: 2rem;
  }
  &--left {
  @include mixins.flexed(row, center, center);
}
  &__list {
  padding-left: 3rem;

  li {
    display: inline-block;
  }
}
  &__item {
  padding: 1rem 2rem 0.5rem;
}
  &__icon{
    @include mixins.icon();
  }
}


.main-nav__list > .active > a {
  color: variables.$color-highlight;
}

/*footer*/

.footer {
  padding: 6rem 0;

  &--background {
    background-color: variables.$color-nitro-pink;
  }
  &__group {
    @include mixins.container();
  }
  &__heading {
    font-size: 3.3rem;
    font-weight: 300;
    padding: 3rem 0 2rem;
  }
  &__content {
    padding-bottom: 3rem;
  }
  &__item {
    padding: 0 5rem;
  }
  &__beans--wrap {
    @include mixins.flexed(row, space-between, center);

    position: relative;
    opacity: 0.5;
  }
  &__beans {
    position: absolute;
    width: 150px;

    &--left {
      top: 30px;
      left: -60px;
    }
    &--right {
      top: 130px;
      right: -50px;
    }
  }
}

/*grid*/
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
