/*hero*/
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.hero--background {
  background-color: #fff0ed;
}

.hero__group {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin: 2rem;
}

.hero__subheadline {
  padding: 3rem 0;
}

.hero__image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
}

@media screen and (min-width: 768px) {
  .hero__image-container {
    justify-content: flex-end;
  }
}
/*product-card*/
.product {
  padding: 6rem 0;
  text-align: center;
}
.product--background {
  background-color: #f7f7f7;
}

.product__group {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

/*------card------*/
.cards {
  padding: 4rem;
  margin: 2rem;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  min-width: 33rem;
  max-width: 35rem;
  min-height: 44rem;
  max-height: 46rem;
  padding-top: 4rem;
  margin: 2rem auto;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
}

.card__image {
  padding-bottom: 2rem;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  width: 100%;
  padding: 2rem 3rem;
}

.card__heading {
  padding: 2rem 0;
}

.card__heading-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1.1;
}

.card__subheading {
  color: #909090;
}

.card__price {
  color: #5bacc3;
  font-size: 2.4rem;
  font-weight: 700;
}

/*---- discount section ----*/
.discount {
  max-width: 80%;
  margin: 20rem auto;
}

.disscount__content {
  justify-items: center;
  margin-bottom: 10rem;
}

.discount__image {
  min-height: 240px;
  max-height: 550px;
  position: relative;
  top: 70px;
  left: 130px;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.disscount__image-background {
  min-width: 400px;
  max-width: 500px;
  width: 500px;
  height: 500px;
  padding: 20px;
  margin: 20px;
  background-color: #fff0ed;
  background-image: url(../assets/logos/coldbrewbackground.png);
  background-size: cover;
}

.discount__content-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  padding-top: 20px;
}

.disscount__image-decoration {
  border: 5px solid #5bacc3;
  z-index: 999;
  width: 500px;
  height: 500px;
  display: inline-block;
  position: absolute;
  transform: translateX(1px) translateY(-17px);
}

.disccount__image-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.discount__title {
  font-size: 5rem;
  padding-bottom: 2rem;
}

.discount__subtitle {
  padding-bottom: 2rem;
}

.discount__text {
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  background-color: #393939;
  color: #fff;
  padding: 2rem;
}
.discount__text--highlight {
  font-weight: 700;
}

.discount__icon-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.discount__icon {
  margin-right: 5rem;
  min-width: 30px;
  max-width: 70px;
  width: 100%;
  padding: 1rem;
}/*# sourceMappingURL=landing.css.map */