@use './partials/variables';
@use './partials/mixins';

/*menu-hero*/
.menu-hero {
@include mixins.flexed(row,center,center);

  background-image: url(../assets/images/coffee-circle.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;

}

.menu-hero__headline {
  @include mixins.flexed(row,center,center);
  color: #fff;
  min-width: 280px;
  max-width: 300px;
  min-height: 180px;
  max-height: 200px;
  height: 30%;

  position: relative;
  left: 150px;

  &--color {
  background-color: variables.$color-primary;
}

}


.menu-hero__headline--decoration {
  border: 5px solid variables.$color-highlight;
  position: relative;
  left: -145px;
  top: -15px;
}

/*menu-nav*/

.menu-nav {
  background-color: variables.$color-primary;
  text-align: center;
  padding: 3rem;

  li {
  display: inline-block;
  padding: 0 2rem;
}
  &__item {
  border-left: 3px solid variables.$color-highlight;
}

  &__item a {
  color: #fff;
  cursor: pointer;
}
}



/*main menu*/

.menu {
  text-align: center;

  &--block {
  padding: 5rem;
}
  &__content{
     max-width: 500px;
  margin: 2rem auto;
  }
  &__price {
  color: variables.$color-highlight;
  font-size: 2.4rem;
}
  &__headline {
  padding-bottom: 3rem;
}
  &__subheadline {
  padding-top: 4rem;
}
  &--cold-drinks {
  background-color: variables.$color-lightgrey;
}
  &--pastries,
  &--hot-drinks{
  background-color: variables.$color-nitro-pink;
}
}

